#continue_payment{
    color: $white-color;
    border-radius: 5px;
    width: 30vw;
    align-self: center;
    text-align: center;
    margin-bottom: 5rem;
    padding: 2rem;
    @media screen and (max-width:500px){
        width: 70%;
    }
    &:hover{
        background-color: $hover-button;
     }
}