@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&display=swap');
$main-color : #2C5644;
$sec-color : #FFE164;
$third-color : #E8E8E8;
$imp-hint : #186273;
$alerts-color : #FE6969;
$text-color: #3E3E3E;
$white-color : #fff;
$black-color : #000;
$input-focus : #EBFFF6;
$hover-button :#40705b;

html { 
       font-family: 'Inter', sans-seri;
     } 

body,span,button,div { font-size: 1.6rem; font-weight: normal; color: $main-color;}
h1 { font-size: 25px; font-weight: bold; }
.small_font { font-size: 1.4rem; font-weight: normal; }      


*, *:before, *:after {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    position: relative;
    text-align: left;

  }

  #header-wrapper{
      background-color: #2C5644;
      min-width: 100vw;
  }

  #header_permanent{
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-wrap: wrap;
      padding: 2.5rem 3.8vw;
      .logo{
          display: flex;
          margin-right: 9.2vw;
      }
      @media screen and (max-width: 900px) {
          .logo{
              width: 100%;
              justify-content: center;
              padding-bottom: 2.5rem;
              margin: 0px;
          }
      }
      @media screen and (max-width: 750px) {
        flex-direction: column;
        .search_bar{
            order: 2;
            margin-top: 2.5rem;
            width: 100%;
        }
        .control{
            width: 100%;
        }
    }
    .search_bar{
        display: flex;
        align-items: center;
        background-color: white;
        flex-grow: 1;
        padding: 5px 5px;
        border-radius: 5rem;
        #category{
            display: flex;
            flex-shrink: 0;
            align-items: center;
            flex-wrap: nowrap;
            background-color: $input-focus;
            padding: 1rem 2rem;
            border-radius: 1rem 5rem 5rem 1rem;
            button{
                background-color: transparent;
                border: 0px;
                padding: 0;
                &:focus~.cat_list{
                    display: block;
                }
                #choosed_cat{
                    padding: 0px 5px;
                    font-weight: 500;
                }
            }
            #toggle_cat{
                padding-right: 1rem;
            }
            .cat_list{
                display: none;
                width: 100%;
                position: absolute;
                z-index: 10;
                top: 5.3rem;
                right: 0;
                background-color: $white-color;
                box-shadow: -17px 16px 20px rgba(24, 56, 42, 0.25);
                border-radius: 2rem;
                border: 1px solid $third-color;
                width: max-content;
                ul{
                    padding: 2rem 2.5rem 2rem 2.5rem;
                    list-style: none;
                }
                li{
                    padding: 2px;
                    &:hover{
                        background-color: $input-focus;
                    }
                }
            }
        }
        #search{
            width: 100%;
            outline: 0px;
            border: 0px;
            &:focus~.search_sugg{
                display: block;
            }
        }
        .search_icon{
            padding: 0px 5px 0px 2rem;
        }
        .search_sugg{
            display: none;
            width: 100%;
            position: absolute;
            z-index: 10;
            top: 5.3rem;
            background-color: $white-color;
            box-shadow: -17px 16px 20px rgba(24, 56, 42, 0.25);
            border-radius: 2rem;
            border: 1px solid $third-color;
            ul{
                padding: 2rem 2.5rem 2rem 2.5rem;
                list-style: none;
            }
            li{
                padding: 2px;
                &:hover{
                    background-color: $input-focus;
                }
            }

        }

    }
    .control{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .profile{
          padding: 1.5rem;
          background-color: $sec-color;
          border-radius: 5rem;
          width: 5.5rem;
          text-align: center;
          }
        .message{
          margin: 0px 0px 0px 3rem;
          #message_notification{
              position: absolute;
              padding: 5px;
              background-color: $sec-color;
              border-radius: 5rem;
              width: 3rem;
              top : -1rem;
              right: 0px;
              font-weight: 500;
              color: $text-color;
          }
          }
      .cart{
          margin: 0 3rem;
          #cart_notification{
              position: absolute;
              padding: 5px;
              background-color: $sec-color;
              border-radius: 5rem;
              width: 3rem;
              top : -1rem;
              right: 0px;
              font-weight: 500;
              color: $text-color;
          }
      }
    }

  }

 #header_buttons{
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 0px 3.8vw 1.5rem 3.8vw;
      @media screen and (max-width: 735px) {
        align-items: center;
        }
      #signup{
          padding: 1rem 5.5rem;
          border: 2px solid $white-color;
          color: $white-color;
          border-radius: 5rem;
          background-color: transparent;
          @media screen and (max-width: 735px) {
            background-color: $input-focus;
            border: 0px;
            color: $text-color;
            width: 100%;
        }
      }
      .signin{
          color: $white-color;
          padding: 1rem 0;
      }
  }

  #header_buttons_user{
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0px 3.8vw 2.5rem 3.8vw;
    #track_orders_user{
        padding: 10px 4vw;
        border: 2px solid $white-color;
        color: $white-color;
        border-radius: 2rem;
        background-color: transparent;
        @media screen and (max-width: 440px) {
          width: 100%;
      }
      }
    .get_help{
        flex-grow: 1;
        color: $white-color;
        padding: 1rem 0;
        text-align: end;
    }
  }

  #header_buttons_owner{
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 1rem 3.8vw 2.5rem 3.8vw;
      #shop_manager{
        padding: 0px 0vw;
        border: 0px;
        color: $white-color;
        border-radius: 2rem;
        background-color: transparent;
        img{
            padding: 0px 5px;
        }
        @media screen and (max-width: 440px) {
          border: 2px solid $white-color;
          padding: 1rem 4vw;
          width: 100%;
      }
      }
      .track_orders{
        flex-grow: 1;
        color: $white-color;
        padding: 1rem 0;
        text-align: end;
      }
  }