@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&display=swap');
$main-color : #2C5644;
$sec-color : #FFE164;
$third-color : #E8E8E8;
$imp-hint : #186273;
$alerts-color : #FE6969;
$text-color: #3E3E3E;
$white-color : #fff;
$black-color : #000;
$input-focus : #EBFFF6;
$hover-button :#40705b;

html { 
       font-family: 'Inter', sans-seri;
     } 

body,span,button,div { font-size: 1.6rem; font-weight: normal; color: $main-color;}
h1 { font-size: 25px; font-weight: bold; }
.small_font { font-size: 1.4rem; font-weight: normal; }      


*, *:before, *:after {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  button{
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      border: 0px;
      background-color: $main-color;
  }

  span{
    color: $text-color;
    }

  #signup_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 5rem 0;
  }

#signup{
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 39vw;
    min-width: 25rem;
    .logo{
        align-self: center;
        }
    h1{
        font-weight: 900;
    }
    #Required{
        position: absolute;
        top: 160px;
    }
    .input_field{
        input{
            width: 100%;
            margin-top: 30px;
            padding: 10px 20px;
            background: $third-color;
            border-radius: 50px;
            color: $text-color;
            border: 0;
        }
        input:focus{
            outline: 2px solid $input-focus;
        }
        .error{
            color: $alerts-color;
            font-size: 1.4rem;
        }
    }
    #signup_check_box{
        display: flex;
        align-items: center;
        span{
            color: $text-color;
        }
        input{
            width: 1.5rem;
            height: 1.5rem;
        }
    }  
    #signup_with_google{
        border: 0px;
        background-color: $input-focus;
        margin-bottom: 2rem;
        img{
            width: 25px;
            height: 25px;
            margin: 0px 5px;
        }
        &:hover{
           border: 1px solid $main-color;

        }
    }
    #signup_submit{
        color: $white-color;
        &:hover{
            background-color: $hover-button;
         }
    }
    span{
        margin: 8px;
    }
    #signup_signin{
        align-self: center;
        margin: 8px;
        color: $main-color;
        &:hover{
            color: $hover-button;
        }
    }
}
  
.check_pw{
    display: none;
    border: 1px solid $third-color;
    background-color: white;
    position: absolute;
    z-index: 10;
    padding: 20px;
    border-radius: 20px;
    top: 75px;
    ul{
        list-style: none;
        padding: 0;
        li{
            padding: 3px;
            img{
                display: inline-block;
                border: 3px solid $alerts-color;
                border-radius: 100px;
                padding: 5px;
                height: 24px;
                width: 24px;
                transition: width height .5 ease-in-out;
                transition-duration: .5s;
            }
            span{
                color: $alerts-color;
            }
        }
    }
}
#password:focus ~ div{
     display: block;
     #check_max_char{
         img{
            border: 3px solid $imp-hint;
            height: 30px;
            width: 30px;
         }
         span{
            color: $imp-hint;

         }
     }
}