@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&display=swap');
$main-color : #2C5644;
$sec-color : #FFE164;
$third-color : #E8E8E8;
$imp-hint : #186273;
$alerts-color : #FE6969;
$text-color: #3E3E3E;
$white-color : #fff;
$black-color : #000;
$input-focus : #EBFFF6;
$hover-button :#40705b;

html { 
       font-family: 'Inter', sans-seri;
     } 

body,span,button,div { font-size: 1.6rem; font-weight: normal; color: $main-color;}
h1 { font-size: 2.5rem; font-weight: bold; }
.small_font { font-size: 1.4rem; font-weight: normal; }      


*, *:before, *:after, body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  button{
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      border: 0px;
      background-color: $main-color;
  }

  span{
    color: $text-color;
    }

  #alert_message_wrapper{
    display: flex;
    justify-content: center;
    min-height: 100%;
    padding: 7.4vw 7.4vw;
    border-radius: 5px;
    .card{
        width: 100%;
        padding: 3rem;
        background-color: $input-focus;
    }
    .btn-primary{
        border-radius: 50px;
        color: $main-color;
        background-color: transparent;
        border: 1px solid $main-color;
    }
    h5{
        font-size: 2.5rem;
    }
  }