@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;900&display=swap');
$main-color : #2C5644;
$sec-color : #FFE164;
$third-color : #E8E8E8;
$imp-hint : #186273;
$alerts-color : #FE6969;
$text-color: #3E3E3E;
$white-color : #fff;
$black-color : #000;
$input-focus : #EBFFF6;
$hover-button :#40705b;

html { 
       font-family: 'Inter', sans-seri;
     } 

body,span,button,div { font-size: 1.6rem; font-weight: normal; color: $main-color;}
h1 { font-size: 2.5rem; font-weight: bold; }
.small_font { font-size: 1.4rem; font-weight: normal; }      


*, *:before, *:after, body {
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    margin: 0;
    position: relative;
  }

  button{
      width: 100%;
      padding: 10px;
      border-radius: 50px;
      border: 0px;
      background-color: $main-color;
  }

  span{
    color: $text-color;
    }

  #order_state_wrapper{
    display: flex;
    flex-direction: column;
    background-color: $sec-color;
    min-width: 100vw;
    padding-top: 1.5rem;
  }

#order_state{
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    padding: 0 7.4vw;
    list-style: none;
    span{
        font-weight: 500;
    color: $black-color;
    }
    li{
        margin-bottom: .5rem;
        color: $black-color;
        font-weight: 500;
    }
    #Order_status{
        display: flex;
    }
    #Order_date{
        display: flex;
    }
    #items,#Payment{
        button{
            background-color: transparent;
            border: none;
            padding: 0;
            width: auto;
            &:focus~ul{
                display: block;
            }
        }
        ul{
            list-style: none;
            display: none;
            li{
                display: flex;
                list-style: none;
                span{
                    font-weight: 300;

                }
            }
        }

    }
    #items{
        ul{
            list-style: none;
            display: none;
            .item{
                display: flex;
                list-style: none;
                span{
                    font-weight: 300;

                }  
            }
        }
    }
}
#cancle_order{
    background-color: $white-color;
    align-self: flex-end;
    width: auto;
    padding: .5rem 1.5rem;
    border: 0px;
    margin: 1.5rem 7.4vw;
    &:active{border: 2px solid transparent;}
}
.the_value{
    flex-grow: 1;
    text-align: end;
}